@font-face {
    font-family: "Nunito Sans Regular";
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans Italic";
    src: url("../fonts/NunitoSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Yeseva One";
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Nunito Sans Regular", Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1256px;
    margin: 0 auto;
}

.header {
    background-color: black;
    font-size: 11px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.logo {
    color: #E3B873;
}

.phone a {
    text-decoration-line: underline;
    color: #E3B873;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav.item {
    margin-right: 47px;
}

.header-nav.item a{
    text-decoration: none;
    color: white;
}

.header-nav.item a:hover, .header-nav.item a:focus {
    text-decoration: none;
    color: #E3B873;
}

.button {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Nunito Sans Regular";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 27px;
    background: #E3B873;
    padding: 13px 33px;
}

.button-edge {
    font-family: "Nunito Sans Italic";
    font-style: italic;
    font-size: 11px;
    padding: 20px auto;
    line-height: 15px;
    width: 207px;
    height: 51px;
    white-space: nowrap;
}

.button-header {
    width: 161px;
    height: 37px;
}

.buttons-block > .button {
    margin-right: 20px;
}

.button-transparent {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.first-section {
    background-image: url("../images/background_img_firstSection.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.first-section-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.first-section-container {
    position: relative;
    z-index: 1;
    margin-left: 42px;
}

.title {
    margin: 0;
    font-family: "Yeseva One", serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
} 

.paragraph {
    font-family: "Nunito Sans Regular", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 504px;
    margin-bottom: 41px;
}

.buttons-block {
    display: flex;
    align-items: flex-start;
}

.subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
